<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- name -->
        <div class="col-lg-5 mt-3 mb-3">
            <h1 class="logo-name">CloudKitchen</h1>
            <p class="logo-moto">GOOD FOOD, GOOD EAT</p>
        </div>
        <!-- nav -->
        <div class="col-lg-5 mb-3 mt-3">
            <a class="social-name" routerLink="">Home</a>
            <a class="social-name" routerLink="menu">Menu</a>
            <a class="social-name" routerLink="about">About</a>
            <a class="social-name" routerLink="contact">Contact</a>
        </div>
        <!-- social icons -->
        <div class="col-lg-2 mb-3 mt-3">
            <a class="social-icon" href="#" target="_blank"><i class="bi bi-facebook"></i> </a>
            <a class="social-icon" href="#" target="_blank"><i class="bi bi-whatsapp"></i> </a>
            <a class="social-icon" href="#" target="_blank"><i class="bi bi-instagram"></i> </a>
            <a class="social-icon" href="#" target="_blank"><i class="bi bi-youtube"></i> </a>
        </div>

    </div>
</div>